/* Semantic color variables */
:root {
   /* Common colors */
   --color-background: #e3e3e3;
   --color-block: #ffffff;
   --color-border: #253053;
   --color-secondary: #c5c6c5;

   /* Text colors */
   --color-text-default: #000000;
   --color-text-inverted: #ffffff;

   /* Accent colors */
   --color-accent-xs: #0cb6734d;
   --color-accent-s: #0cb672a9;
   --color-accent-m: ;
   --color-accent-l: #05ac6a;
   --color-accent-xl: #307358;

   /* Font sizes */
   --text-xs: 0.5rem;
   --text-s: 0.75rem;
   --text-m: 1rem;
   --text-l: 1.25rem;
   --text-xl: 1.5rem;

   /* Radiuses */
   --radius-xs: 0.1rem;
   --radius-s: 0.5rem;
   --radius-m: 0.75rem;
   --radius-l: 1rem;
   --radius-xl: 1.5rem;

   /* Durations */
   --duration-xs: 100ms;
   --duration-s: 200ms;
   --duration-m: 300ms;
   --duration-l: 400ms;
   --duration-xl: 500ms;

   /* TODO: dark mode */
   @media (prefers-color-scheme: dark) {
   }
}
